.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  cursor: default;
}

.cart h2 {
  font-family: 'Lato';
  color: var(--white-highlight);
}




@media (max-width: 420px) {
  .cart {
    margin-top: 11rem;
    margin-left: 0.2rem;
  }
}


@media (max-width: 240px) {
  .cart {
    margin-top: 12rem;
  }
}


@media (max-width: 210px) {
  .cart {
    margin-top: 12.5rem;
  }
}


@media (max-width: 180px) {
  .cart {
    margin-top: 13.5rem;
  }
}