.cart-btn {
  appearance: button;
  text-decoration: none;
  backface-visibility: hidden;
  background-color: var(--dark-green);
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  margin-right: 1rem;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  line-height: 40px;
  touch-action: manipulation;
}

.filler {
  color: 'var(--light-dark)';
}

.cart-btn:hover {
  background-color: var(--lightest-green);
  text-decoration: none;
  color: var(--white-highlight);
}

.cart-results {
  background-color: var(--light-dark);
  border-radius: 15px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkest);
  box-shadow: 0 0 0 0.18em var(--lightest-green);
  height: 10rem;
  width: 25rem;
}

.cart-results h2 {
  text-align: center;
}


@media( min-width: 1116px) {
  .filler {
    display: none;
  }
}