.product__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
}

.product__box {
  background-color: rgb(92, 204, 17, 0.65);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: var(--darkest);
  box-shadow: 0px 0px 0px 3px var(--darkest);
  top: 115%;
  bottom: 0px;
  margin: auto;
  z-index: 100;
  min-width: 19rem;
  max-width: 25rem;
  min-height: 75%;
  position: absolute;
}

.product__header {
  display: flex;
  justify-content: center;
}

.product__header,
.product__content {
  padding: 0 0.5rem;
}

.product__title {
  font-weight: bold;
  text-align: center;
  opacity: 1;
  cursor: default;
}

.product__price {
  text-align: center;
  outline: 2px var(--white-highlight) solid;
  background-color: var(--white-highlight);
  border-radius: 12px;
  opacity: 1;
  cursor: default;
  display: flex;
  justify-content: center;
  font-family: 'Lato';
}

.product__price sup {
  top: 1em;
  font-size: 0.8rem;
}

.product__description {
  cursor: default;
  text-align: justify;
}

.product__description p {
  font-family: 'Lato';
}

.product__description strong {
  font-family: 'Roboto';
}

.product__actions button,
.product__actions a {
  text-decoration: none;
  margin-bottom: 0;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-manage-button {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  border: 1px solid var(--cyan-green);
  text-decoration: none;
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--dark-green);
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--white-highlight);
  font-size: 100%;
  height: 44px;
  outline: none;
  margin-left: 2rem;
  overflow: hidden;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  line-height: 40px;
  touch-action: manipulation;
}

.product-manage-button[disabled] {
  background-color: var(--grey-grey);
  color: var(--white-highlight);
  cursor: not-allowed;
  opacity: 0.65;
}

.product-form {
  margin: auto;
  width: 15rem;
}

@media (min-width: 1800px) {
  .product__box {
    min-height: 68%;
  }
}

@media (min-width: 1800px) {
  .product__box {
    top: 105%;
  }
}

@media (max-width: 1400px) {
  .product__box {
    min-height: 80%;
  }
}

@media (max-width: 980px) {
  .product__box {
    min-width: 16rem;
  }
}

@media (max-width: 900px) {
  .product__box {
    min-height: 22rem;
  }
}

@media (max-width: 768px) {
  .product__box {
    width: 50vw;
    top: 150%;
  }
}

@media (max-width: 768px) and (min-height: 900px) {
  .product__box {
    top: 130%;
  }
}

@media (max-width: 456.5px) {
  .product__box {
    min-height: 22.5rem;
    width: 55vw;
  }
}

@media (max-width: 415px) {
  .product__box {
    top: 165%;
  }
}


@media (max-width: 415px) and (min-height: 900px) {
  .product__box {
    top: 135%;
  }
}

@media (max-width: 356.5px) {
  .product__box {
    min-height: 24rem;
  }

  .product__price {
    font-size: 1rem;
  }

  .product__price sup {
    top: 0.5em;
    font-size: 0.6rem;
  }

  .product__title {
    font-size: 2rem;
  }
}

@media (max-width: 300px) {
  .product__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 185px) {
  .product__description strong {
    font-size: 0.6rem;
  }

  .product__title {
    font-size: 0.8rem;
  }
  .product__price {
    font-size: 0.6rem;
  }

  .product__description {
    font-size: 0.8rem;
  }

  .product__box {
    min-height: 23rem;
  }
}
