.cart__item {
  background-color: rgb(92, 204, 17, 0.7);
  display: flex;
  min-height: 30vh;
  min-width: 24rem;
  flex-direction: column;
  flex-wrap: wrap;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  cursor: default;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 1rem;
}

.cart__item h1,
.cart__item h2 {
  font-size: 1.2rem;
  font-family: 'Lato';
  margin: 0 1rem 0 0;
}

.cart-results {
  background-color: var(--light-dark);
  border-radius: 15px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkest);
  box-shadow: 0 0 0 0.18em var(--lightest-green);
  height: 10rem;
  width: 25rem;
}

.cart-results h2 {
  text-align: center;
}

@media (min-width: 768px) {
  .cart__item {
    min-width: 22.5rem;
    min-height: 19.5rem;
  }
}

@media (max-width: 420px) {
  .cart__item {
    min-width: 15rem;
    min-height: 14rem;
  }
}

@media (max-width: 240px) {
  .cart__item {
    min-width: 13rem;
    min-height: 12rem;
  }
}

@media (max-width: 210px) {
  .cart__item {
    min-width: 11rem;
    min-height: 10rem;
  }
}

@media (max-width: 180px) {
  .cart__item {
    min-width: 9rem;
    min-height: 8rem;
  }
}
