:root {
  --lightest-green: #5ccc11;
  --light-green: #098824;
  --cyanest-green: #0ddbc3;
  --cyan-green: #00695c;
  --dark-green: #045603;
  --white-highlight: #ffffff;
  --light-grey: #c3c3c3;
  --grey-grey: #696969;
  --light-dark: #292522;
  --darkest: #000000;
  --highlight-yellow: #ffeb3b;
  --highlight-light-danger: #ffb0b0;
  --highlight-danger: #ff0000;
}

#root {
  min-height: 78.3%;
}

#footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
}

html {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--light-dark) !important;
  color: var(--white-highlight) !important;
  box-sizing: border-box !important;
}

/* Opera Fix */
body:before {
  content: '';
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

main {
  padding: 1rem;
  padding-bottom: 150px;
  margin: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-4 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  60% {
    opacity: 0.7;
  }

  70% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.9;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(0.94);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
